:root {
  --light-cream: #FFF9E8;
  --light-peach: #FFE8D6;
  --light-pink: #FFDDEB;
  --light-lavender: #F3E8FF;
  --light-sky: #E6F4FF;
  --light-mint: #E9FFF5;
  --light-yellow: #FFFCE0;
  --light-sand: #F5EFE6;
  --light-gray: #F2F2F2;
  --light-blue-gray: #EEF3F8;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

.ui-input-radio {
  align-items: center;
  display: inline-flex;
}

.ui-input-radio > input {
  margin-right: 10px;
}

.options {
  background-color: var(--light-cream);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px;
}

.options--group {
  background-color: var(--light-peach);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px;
}

.options--parameters {
  background-color: var(--light-pink);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px;
}

.options--parameter {
  background-color: var(--light-lavender);
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}

.options--parameter:not(:first-child) {
  margin-top: 10px;
}

.options--parameter-item:not(:first-child) {
  margin-top: 10px;
}

.examples {
  background-color: var(--light-blue-gray);
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  padding: 10px;
}

.examples--test-button {
  padding: 6px;
}
